/*high pc*/
@media (min-width: 1200px) and (max-width: 1600px) {
    .top-nav__item:first-child .top-nav__link {
        padding-left: 15px;
    }

    .top-nav__link {
        padding: 15px;
    }
}




/*meduim pc*/
@media (max-width: 1200px) {
    :root {
        --header-height: 1489px;
        --header-top-height: 125px;
    }
    .hidden-block {
        display: none;
    }

    .nav-right-button-mobile {
        display: inline-block;
    }

    .header-top {
        background-color: var(--heading-text-color);
        display: block;
        padding: 15px 0;
    }

    .header-logo-nav-top {
        width: 100%;
    }

    .header-logo {
        width: 100%;
        text-align: center;
    }

    .header-logo__link {
        width: 100%;
    }

    .header-logo__img {
        width: 160px;
    }

    .header-with-search {
        padding: 270px 0 200px;
    }
    .header-search {
        flex: 1;
    }

    .type-travel__item-wrap,
    .type-travel__component,
    .type-travel__item,
    .header-search__select,
    .view-package__title,
    .view-package__action,
    .contact-label__inner,
    .contact-form {
        width: 100%;
    }

    .type-travel__item-wrap {
        margin-bottom: 30px;
    }

    .type-travel__item {
        height: 105px;
    }

    .tour-grid,
    .destination-section-wide {
        width: 90%;
    }

    .view-package {
        height: 321px;
    }

    .view-package__title {
        justify-content: center;
        margin-bottom: 40px;
    }

    .view-package__inner {
        flex-direction: column;
    }

    .view-package__action-btn {
        margin: auto;
    }

    .tour__slide-wrap {
        padding: 40px 15px 0 15px;
    }

    .contact {
        flex-direction: column;
    }

    .contact-form-wrap {
        margin-top: 60px;
    }

    .contact-form {
        padding: 0;
        display: flex;
    }

    .btn.contact-form__btn {
        flex: 1;
    }

    .contact-label__wrap {
        justify-content: flex-start;
    }

    .footer-summary {
        margin-bottom: 20px;
    }

    .footer-list-wrap {
        padding: 0 15px 0 25px;
    }

    .footer-authen {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 942px) {
    .tour-grid,
    .destination-section-wide {
        width: 70%;
    }

    .tour__slide {
        height: 231px;
    }

    .tour__slide-times-wrap {
        margin-top: -6px;
    }


}

@media (max-width: 750px) {

    .header-with-search {
        padding-left: 40px;
        padding-right: 40px;
    }

    .header-search__select {
        min-width: unset;
    }

    .destination-section-wide {
        width: 62%;
    }

    .tour__intro-title,
    .tour__intro-subject {
        text-align: center;
    }

    .promotions-grid,
    .tour-grid {
        width: 70%;
    }

    .hide-on-mobile {
        display: none;
    }
}


@media (max-width: 479px) {
    .destination-section-wide {
        width: 75%;
    }

    .tour__slide-times {
        flex-direction: column;
    }

    .tour__slide-time-item {
        width: 100%;
    }

    .tour__intro {
        padding: 0;
    }

    .tour__intro-desc {
        text-align: justify;
    }
    .tour__slide-wrap {
        padding: 40px 0 0;
    }

    .footer {
        padding: 80px 50px;
    }

    .contact-form {
        flex-direction: column;
    }

    .contact-form__group--email {
        width: 100%;
        padding-right: 0;
    }

    .btn.contact-form__btn {
        margin-top: 20px;
    }
}











